<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>JavaScript for Everybody: Accessibility of JavaScript MVCs</title>

		<meta name="description" content="JavaScript for Everybody: Accessibility of JavaScript MVCs at JSConf EU">
		<meta name="author" content="Marcy Sutton">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/marcysutton.css">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">
		<link rel="stylesheet" href="lib/css/jqcloud.css">

		<script src="lib/js/jquery-1.11.1.min.js"></script>

		<!-- If the query includes 'print-pdf', include the PDF print sheet -->
		<script>
			if( window.location.search.match( /print-pdf/gi ) ) {
				var link = document.createElement( 'link' );
				link.rel = 'stylesheet';
				link.type = 'text/css';
				link.href = 'css/print/pdf.css';
				document.getElementsByTagName( 'head' )[0].appendChild( link );
			}
		</script>
		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
		    	<h2 class="h3-style align-left"><em>What do you build?</em></h2>
					<div class="separator"></div>
			    <div id="wordCloud" style="min-width: 1024px; width: 1440px; min-height: 600px; height: 601px;" class="jqcloud">
			    	<span class="w7" style="position: absolute; left: 355px; top: 35px;">Banking</span>
			    	<span class="w7" style="position: absolute; left: 350px; top: 450px;">Education</span>
			    	<span class="w2" style="position: absolute; left: 20px; top: 100px;">Project <br>Tracking</span>
			    	<span class="w7" style="position: absolute; left: 375px; top: 237px;">Payments</span>
			    	<span class="w6" style="position: absolute; left: 0; top: 300px;">Travel</span>
			    	<span class="w5" style="position: absolute; left: 1026px; top: 340px;">Fitness Tracking</span>
			    	<span class="w3" style="position: absolute; left: 980px; top: 170px;">Drinking</span></div>
				</section>

				<section>
					<h1>JavaScript for Everybody</h1>
					<h2>Accessibility of JavaScript MV*s</h2>
					<p>
						<small>Created by <a href="http://marcysutton.com">Marcy Sutton</a> / <a href="http://twitter.com/marcysutton">@marcysutton</a></small>
					</p>
				</section>

				<!-- <section>
					<h2 class="h1-style">Best framework?</h2>
				</section>

				<section>
					<div class="image-headline" id="lemur">
						<h2>Calm down.</h2>
					</div>
				</section> -->

				<section>
					<h2 class="h3-style">Take your pick</h2>
					<img src="img/todo-mvc.png" alt="TodoMVC" style="max-height: 740px;">
				</section>

				<section>
					<h2 class="h1-style">
						<span class="">Model</span><br>
						<span class="fragment">View</span><br>
						<span class="fragment">Controller</span><br>
						<span class="fragment">Router</span><br>
						<span class="fragment" style="margin-top: 0.25em; display: inline-block;">*</span><br>
						<!-- <span class="fragment" style="display: block; margin-top: -.25em;">WHATEVER</span> -->
					</h2>
				</section>

				<section>
					<h2>Are your sites accessible?</h2>
					<h3>It could depend on:</h3>
					<div class="separator inset-width"></div>
					<ul>
						<li class="fragment">The framework*</li>
						<li class="fragment">Screen reader</li>
						<li class="fragment">Browser</li>
						<li class="fragment">Your code*</li>
					</ul>
					<aside class="notes">
						* Things you can control! You can submit PRs to frameworks, refine your code, even petition browsers. Can't do as much about screen readers.
					</aside>
				</section>

				<!-- <section data-background="img/awesome.gif" data-transition="none">
					<div class="offscreen">
						<h2>What does that mean?</h2>
						<h3>It means your stuff should be AWESOME.</h3>
					</div>
				</section> -->

				<section>
					<h2 style="margin-bottom:0.5em;">Accessibility <br>in single-page apps</h2>
					<div class="separator inset-width"></div>
					<ul>
						<li class="fragment">Interactivity</li>
						<li class="fragment">Semantics</li>
						<li class="fragment">Managing ARIA attributes</li>
						<li class="fragment">Focus management</li>
						<li class="fragment">*Graceful degradation</li>
					</ul>
					<aside class="notes">
					*Graceful degradation is worth mentioning but it is outside the scope of this talk.
					</aside>
				</section>

				<section>
					<h2>Interactivity</h2>
					<p style="margin-bottom: 0.75em" class="interactive-input">Accepting and responding to input from
						<span contenteditable>
							<span autotype class="disabled"></span>
						</span>
					</p>
					<img src="img/bird-atm.gif" alt="Bird using an ATM like a boss">
					<aside class="notes">
					Challenge the concept of "interactive". It doesn't have to be visually interactive. Appeal to all the senses. PERCEIVABLE and OPERABLE. And robust. And understandable.
					</aside>
				</section>

				<section>
					<h2>Not Understandable</h2>
					<h3>or Operable</h3>
					<div class="hamburger-menu">
						<div class="hamburger-button"></div>
						<ul aria-disabled="true">
							<li><a href="javascript: return false;" tabIndex="-1">Lettuce</a></li>
							<li><a href="javascript: return false;" tabIndex="-1">Tomato</a></li>
							<li><a href="javascript: return false;" tabIndex="-1">E. coli</a></li>
						</ul>
					</div>
					<pre><code contenteditable class="html">
	&lt;div class="hamburger-button"&gt;&lt;/div&gt;
					</code></pre>
					<aside class="notes">
						Hamburger button is a div with no tabIndex, role or keypress event
					</aside>
				</section>

				<section>
					<h2>Understandable</h2>
					<h3>and Operable</h3>
					<div class="hamburger-menu">
						<button class="hamburger-button" aria-label="Menu"></button>
						<ul aria-disabled="true">
							<li><a href="javascript: return false;" tabIndex="-1">Lettuce</a></li>
							<li><a href="javascript: return false;" tabIndex="-1">Tomato</a></li>
							<li><a href="javascript: return false;" tabIndex="-1">E. coli</a></li>
						</ul>
					</div>
					<pre><code class="html">
   &lt;button aria-label="Menu"&gt;&lt;button&gt;
					</code></pre>
					<pre><code class="html">
   &lt;div role="button" tabIndex="0" aria-label="Menu"&gt;&lt;/div&gt;
					</code></pre>
				</section>

				<section data-click-background="img/joust2.jpg">
					<div class="text-background">
						<h2>Not Operable</h2>
						<pre><code class="html">
  &lt;div ng-click="oneTwoThree(go);" tabIndex="0"&gt;JOUST!&lt;/div&gt;
						</code></pre>

						<div class="bike-joust" tabIndex="0">JOUST!</div>
						<p class="hidden"><small>Photo: geneandtonic.blogspot.com</small></p>
					</div>
				</section>

				<section data-click-background="img/joust.jpg">
					<div class="inset-width text-background">
						<h2>Operable</h2>
						<pre><code class="html">
  &lt;button ng-click="oneTwoThree(go)"&gt;
    JOUST!
  &lt;button&gt;

  &lt;div role="button" tabIndex="0"
    ng-click="oneTwoThree(go)"
    ng-keypress="oneTwoThree(go)"&gt;
    JOUST!
  &lt;/div&gt;
						</code></pre>
						<button class="bike-joust">JOUST!</button>
						<p class="hidden"><small>Photo: Joshua Trujilo, Seattle PI</small></p>
					</div>
				</section>

				<section>
					<h2>Visual Feedback</h2>
					<p class="big-italic">with Sass</p>
					<div class="inset-width">
					<pre><code class="css">
  a {
    color: $linkColor;

    &:hover, &:focus {
      color: $linkActiveColor;
    }
  }
					</code></pre>
					</div>
				</section>

				<section>
					<h2>Adding Semantics</h2>
					<p>Use native child elements</p>
					<pre><code class="html">
	&lt;taco-surprise&gt;
	  &lt;h2&gt;Taco Surprise!&lt;/h2&gt;
	  &lt;button&gt;Give me tacos&lt;/button&gt;

	  &lt;output&gt;
	    &lt;img src="" alt="" aria-hidden="true"&gt;
	    &lt;p class="error hidden"&gt;Or give me death&lt;/p&gt;
	  &lt;/output&gt;
	&lt;/taco-surprise&gt;
					</code></pre>
				</section>

				<section>
					<h2 class="h1-style">
						JavaScript<br>
						<span class="smaller muted">(can be)</span><br>
						required.<small>*</small>
					</h2>
					<p class="fragment" style="margin-top: 2em;"><small>*With a warning message.</small></p>
				</section>

				<section>
					<h2 class="h1-style">"As rendered"</h2>
          <img src="img/happy-little-tree.jpg" alt="Bob Ross happy little tree" style="min-width: 45%">
				</section>

				<section>
					<h2>Custom Elements</h2>
					<pre><code contenteditable class="html">
    // EmberJS Component
    {{sparkle-party}}
					</code></pre>
					<pre><code class="javascript">
    App.SparklePartyComponent = Ember.Component.extend({
      attributeBindings: [
        'tabIndex'
      ],
      tagName: 'section',

      tabIndex: function() {
        return this.get('active') ? 0 : -1;
      }.property('active')
    });
					</code></pre>
				</section>

				<section>
					<h2 class="offscreen">Ember Custom Component demo</h2>
					<a href="demos/ember/sparkle-party.html" target="_blank" title="Link opens in a new window"><img src="img/sparkle-party.png" alt="Ember Sparkle Party Demo"></a>
				</section>

				<section>
					<h2>ARIA Core Components</h2>
					<div class="inset-width">
	     			<div class="definition">
		     			<h3>Roles</h3>
		     			<p>What does this thing do</p>
		          <pre><code class="html">   &lt;form role="search"&gt;</code></pre>
	          </div>
	     			<div class="definition">
		     			<h3>States</h3>
		     			<p>The current condition of this particular thing</p>
	         		<pre><code class="html">   &lt;input aria-disabled="true"&gt;</code></pre>
	       		</div>
	     			<div class="definition">
		     			<h3>Properties</h3>
	          	<pre><code class="html">   &lt;input aria-required="true"&gt;</code></pre>
	        	</div>
        	</div>
				</section>

				<section>
					<h2>ARIA Roles
						<span class="muted" style="display: block; margin-top: 0.25em;">
						OMG SO MANY
						</span>
					</h2>
					<div class="separator inset-width"></div>
					<dl id="index_role" class="compact">
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#alert" target="_blank" title="Link opens in a new window"><code>alert</code></a></dt>
					<dd>A message with important, and usually time-sensitive, information. See related alertdialog and status.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#alertdialog" target="_blank" title="Link opens in a new window"><code>alertdialog</code></a></dt>
					<dd>A type of dialog that contains an alert message, where initial focus goes to an element within the dialog. See related alert and dialog.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#application" target="_blank" title="Link opens in a new window"><code>application</code></a></dt>
					<dd>A region declared as a web application, as opposed to a web document.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#article" target="_blank" title="Link opens in a new window"><code>article</code></a></dt>
					<dd>A section of a page that consists of a composition that forms an independent part of a document, page, or site.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#banner" target="_blank" title="Link opens in a new window"><code>banner</code></a></dt>
					<dd>A region that contains mostly site-oriented content, rather than page-specific content.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#button" target="_blank" title="Link opens in a new window"><code>button</code></a></dt>
					<dd>An input that allows for user-triggered actions when clicked or pressed. See related link.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#checkbox" target="_blank" title="Link opens in a new window"><code>checkbox</code></a></dt>
					<dd>A checkable input that has three possible values: true, false, or mixed.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#columnheader" target="_blank" title="Link opens in a new window"><code>columnheader</code></a></dt>
					<dd>A cell containing header information for a column.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#combobox" target="_blank" title="Link opens in a new window"><code>combobox</code></a></dt>
					<dd>A presentation of a select; usually similar to a textbox where users can type ahead to select an option, or type to enter arbitrary text as a new item in the list. See related listbox.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#command" target="_blank" title="Link opens in a new window"><code>command</code></a></dt>
					<dd>A form of widget that performs an action but does not receive input data.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#complementary" target="_blank" title="Link opens in a new window"><code>complementary</code></a></dt>
					<dd>A supporting section of the document, designed to be complementary to the main content at a similar level in the DOM hierarchy, but remains meaningful when separated from the main content.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#composite" target="_blank" title="Link opens in a new window"><code>composite</code></a></dt>
					<dd>A widget that may contain navigable descendants or owned children.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#contentinfo" target="_blank" title="Link opens in a new window"><code>contentinfo</code></a></dt>
					<dd>A large perceivable region that contains information about the parent document.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#definition" target="_blank" title="Link opens in a new window"><code>definition</code></a></dt>
					<dd>A definition of a term or concept.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#dialog" target="_blank" title="Link opens in a new window"><code>dialog</code></a></dt>
					<dd>A dialog is an application window that is designed to interrupt the current processing of an application in order to prompt the user to enter information or require a response. See related alertdialog.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#directory" target="_blank" title="Link opens in a new window"><code>directory</code></a></dt>
					<dd>A list of references to members of a group, such as a static table of contents.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#document" target="_blank" title="Link opens in a new window"><code>document</code></a></dt>
					<dd>A region containing related information that is declared as document content, as opposed to a web application.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#form" target="_blank" title="Link opens in a new window"><code>form</code></a></dt>
					<dd>A landmark region that contains a collection of items and objects that, as a whole, combine to create a form. See related search.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#grid" target="_blank" title="Link opens in a new window"><code>grid</code></a></dt>
					<dd>A grid is an interactive control which contains cells of tabular data arranged in rows and columns, like a table.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#gridcell" target="_blank" title="Link opens in a new window"><code>gridcell</code></a></dt>
					<dd>A cell in a grid or treegrid.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#group" target="_blank" title="Link opens in a new window"><code>group</code></a></dt>
					<dd>A set of user interface objects which are not intended to be included in a page summary or table of contents by assistive technologies.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#heading" target="_blank" title="Link opens in a new window"><code>heading</code></a></dt>
					<dd>A heading for a section of the page.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#img" target="_blank" title="Link opens in a new window"><code>img</code></a></dt>
					<dd>A container for a collection of elements that form an image.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#input" target="_blank" title="Link opens in a new window"><code>input</code></a></dt>
					<dd>A generic type of widget that allows user input.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#landmark" target="_blank" title="Link opens in a new window"><code>landmark</code></a></dt>
					<dd>A region of the page intended as a navigational landmark.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#link" target="_blank" title="Link opens in a new window"><code>link</code></a></dt>
					<dd>An interactive reference to an internal or external resource that, when activated, causes the user agent to navigate to that resource. See related button.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#list" target="_blank" title="Link opens in a new window"><code>list</code></a></dt>
					<dd>A group of non-interactive list items. See related listbox.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#listbox" target="_blank" title="Link opens in a new window"><code>listbox</code></a></dt>
					<dd>A widget that allows the user to select one or more items from a list of choices. See related combobox and list.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#listitem" target="_blank" title="Link opens in a new window"><code>listitem</code></a></dt>
					<dd>A single item in a list or directory.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#log" target="_blank" title="Link opens in a new window"><code>log</code></a></dt>
					<dd>A type of live region where new information is added in meaningful order and old information may disappear. See related marquee.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#main" target="_blank" title="Link opens in a new window"><code>main</code></a></dt>
					<dd>The main content of a document.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#marquee" target="_blank" title="Link opens in a new window"><code>marquee</code></a></dt>
					<dd>A type of live region where non-essential information changes frequently. See related log.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#math" target="_blank" title="Link opens in a new window"><code>math</code></a></dt>
					<dd>Content that represents a mathematical expression. </dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#menu" target="_blank" title="Link opens in a new window"><code>menu</code></a></dt>
					<dd>A type of widget that offers a list of choices to the user.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#menubar" target="_blank" title="Link opens in a new window"><code>menubar</code></a></dt>
					<dd>A presentation of menu that usually remains visible and is usually presented horizontally.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#menuitem" target="_blank" title="Link opens in a new window"><code>menuitem</code></a></dt>
					<dd>An option in a set of choices contained by a menu or menubar.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#menuitemcheckbox" target="_blank" title="Link opens in a new window"><code>menuitemcheckbox</code></a></dt>
					<dd>A menuitem with a checkable state whose possible values are true, false, or mixed.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#menuitemradio" target="_blank" title="Link opens in a new window"><code>menuitemradio</code></a></dt>
					<dd>A checkable menuitem in a set of elements with role menuitemradio, only one of which can be checked at a time.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#navigation" target="_blank" title="Link opens in a new window"><code>navigation</code></a></dt>
					<dd>A collection of navigational elements (usually links) for navigating the document or related documents.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#note" target="_blank" title="Link opens in a new window"><code>note</code></a></dt>
					<dd>A section whose content is parenthetic or ancillary to the main content of the resource.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#option" target="_blank" title="Link opens in a new window"><code>option</code></a></dt>
					<dd>A selectable item in a select list.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#presentation" target="_blank" title="Link opens in a new window"><code>presentation</code></a></dt>
					<dd>An element whose implicit native role semantics will not be mapped to the accessibility API.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#progressbar" target="_blank" title="Link opens in a new window"><code>progressbar</code></a></dt>
					<dd>An element that displays the progress status for tasks that take a long time.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#radio" target="_blank" title="Link opens in a new window"><code>radio</code></a></dt>
					<dd>A checkable input in a group of radio roles, only one of which can be checked at a time.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#radiogroup" target="_blank" title="Link opens in a new window"><code>radiogroup</code></a></dt>
					<dd>A group of radio buttons.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#range" target="_blank" title="Link opens in a new window"><code>range</code></a></dt>
					<dd>An input representing a range of values that can be set by the user.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#region" target="_blank" title="Link opens in a new window"><code>region</code></a></dt>
					<dd>A large perceivable section of a web page or document, that is important enough to be included in a page summary or table of contents, for example, an area of the page containing live sporting event statistics.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#roletype" target="_blank" title="Link opens in a new window"><code>roletype</code></a></dt>
					<dd>The base role from which all other roles in this taxonomy inherit.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#row" target="_blank" title="Link opens in a new window"><code>row</code></a></dt>
					<dd>A row of cells in a grid.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#rowgroup" target="_blank" title="Link opens in a new window"><code>rowgroup</code></a></dt>
					<dd>A group containing one or more row elements in a grid.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#rowheader" target="_blank" title="Link opens in a new window"><code>rowheader</code></a></dt>
					<dd>A cell containing header information for a row in a grid.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#scrollbar" target="_blank" title="Link opens in a new window"><code>scrollbar</code></a></dt>
					<dd>A graphical object that controls the scrolling of content within a viewing area, regardless of whether the content is fully displayed within the viewing area.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#search" target="_blank" title="Link opens in a new window"><code>search</code></a></dt>
					<dd>A landmark region that contains a collection of items and objects that, as a whole, combine to create a search facility. See related form.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#section" target="_blank" title="Link opens in a new window"><code>section</code></a></dt>
					<dd>A renderable structural containment unit in a document or application.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#sectionhead" target="_blank" title="Link opens in a new window"><code>sectionhead</code></a></dt>
					<dd>A structure that labels or summarizes the topic of its related section.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#select" target="_blank" title="Link opens in a new window"><code>select</code></a></dt>
					<dd>A form widget that allows the user to make selections from a set of choices.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#separator" target="_blank" title="Link opens in a new window"><code>separator</code></a></dt>
					<dd>A divider that separates and distinguishes sections of content or groups of menuitems.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#slider" target="_blank" title="Link opens in a new window"><code>slider</code></a></dt>
					<dd>A user input where the user selects a value from within a given range.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#spinbutton" target="_blank" title="Link opens in a new window"><code>spinbutton</code></a></dt>
					<dd>A form of range that expects the user to select from among discrete choices.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#status" target="_blank" title="Link opens in a new window"><code>status</code></a></dt>
					<dd>A container whose content is advisory information for the user but is not important enough to justify an alert, often but not necessarily presented as a status bar. See related alert.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#structure" target="_blank" title="Link opens in a new window"><code>structure</code></a></dt>
					<dd>A document structural element.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#tab" target="_blank" title="Link opens in a new window"><code>tab</code></a></dt>
					<dd>A grouping label providing a mechanism for selecting the tab content that is to be rendered to the user.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#tablist" target="_blank" title="Link opens in a new window"><code>tablist</code></a></dt>
					<dd>A list of tab elements, which are references to tabpanel elements.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#tabpanel" target="_blank" title="Link opens in a new window"><code>tabpanel</code></a></dt>
					<dd>A container for the resources associated with a tab, where each tab is contained in a tablist.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#textbox" target="_blank" title="Link opens in a new window"><code>textbox</code></a></dt>
					<dd>Input that allows free-form text as its value.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#timer" target="_blank" title="Link opens in a new window"><code>timer</code></a></dt>
					<dd>A type of live region containing a numerical counter which indicates an amount of elapsed time from a start point, or the time remaining until an end point.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#toolbar" target="_blank" title="Link opens in a new window"><code>toolbar</code></a></dt>
					<dd>A collection of commonly used function buttons or controls represented in compact visual form.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#tooltip" target="_blank" title="Link opens in a new window"><code>tooltip</code></a></dt>
					<dd>A contextual popup that displays a description for an element.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#tree" target="_blank" title="Link opens in a new window"><code>tree</code></a></dt>
					<dd>A type of list that may contain sub-level nested groups that can be collapsed and expanded.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#treegrid" target="_blank" title="Link opens in a new window"><code>treegrid</code></a></dt>
					<dd>A grid whose rows can be expanded and collapsed in the same manner as for a tree.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#treeitem" target="_blank" title="Link opens in a new window"><code>treeitem</code></a></dt>
					<dd>An option item of a tree. This is an element within a tree that may be expanded or collapsed if it contains a sub-level group of treeitem elements.</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#widget" target="_blank" title="Link opens in a new window"><code>widget</code></a></dt>
					<dd>An interactive component of a graphical user interface (GUI).</dd>
					<dt><a href="http://www.w3.org/TR/wai-aria/roles#window" target="_blank" title="Link opens in a new window"><code>window</code></a></dt>
					<dd>A browser or application window.</dd></dl>
				</section>

				<section>
					<h2>Using Roles</h2>
					<div class="separator inset-width"></div>
					<ul>
						<li class="fragment">They're element types</li>
						<li class="fragment">They're landmarks</li>
		     		<li class="fragment">Start with native HTML tags</li>
						<li class="fragment">Read the <a href="http://www.w3.org/TR/wai-aria/" target="_blank" title="Link opens in a new window">documentation</a></li>
						<li class="fragment">Don't overdo it</li>
					</ul>
				</section>

				<section>
					<h2>Let the framework <br>do the heavy lifting</h2>
					<pre><code class="javascript">
  // AngularUI Bootstrap
  &lt;accordion-group
  	aria-expanded="status.open"
  	is-open="status.open"
  	aria-disabled="status.isDisabled"
  	is-disabled="status.isDisabled"&gt;
  &lt;/accordion-group&gt;
					</code></pre>
					<aside class="notes">
	 Angular properties alongside aria properties get verbose.
					</aside>
				</section>

				<section data-transition="none">
					<h2>Let the framework <br>do the heavy lifting</h2>
					<h3 class="offscreen">Example where ARIA attributes are the default</h3>
					<pre><code class="javascript">
  // AngularUI Bootstrap
  &lt;accordion-group
  	aria-expanded="status.open"
  	aria-disabled="status.isDisabled"&gt;
  &lt;/accordion-group&gt;


					</code></pre>
				</section>

				<section>
					<h2>Application Mode</h2>
					<p class="big-italic">Disables a screen reader&rsquo;s &ldquo;virtual cursor&rdquo;</p>
					<div class="definition inset-width">
						<pre><code class="html">
    &lt;dance-detector role="application"&gt;&lt;/dance-detector&gt;

    // Never put role="application" on the body
						</code></pre>
					</div>

					<aside class="notes">
					<p><a href="http://www.marcozehe.de/2012/02/06/if-you-use-the-wai-aria-role-application-please-do-so-wisely/" target="_blank" title="Link opens in a new window">Marco Zehe's post about using Application Mode</a></p>
					<p>Virtual Cursor/Browse mode:<br>
					 Several keys are captured by the assistive technology and are not processed by the browser. These allow navigation by headings, lists, links, tables, form elements and others. Usually, these are done via single letters. The visual focus may or may not follow the virtual cursor onto focusable items, depending on the assistive technology in use and its settings</p>
					 <p>Forms mode/focus mode:<br>
					 All keys are passed through to the browser. The challenge is that you may be creating widgets that require you to force the user into direct interaction with the browser. You know that your widget can best be used via the keyboard if the user is not in virtual mode. It is under your control whether the user is being thrown into focus mode once your widget gains keyboard focus.</p>
					</aside>
				</section>

				<section>
					<h2>Headache City</h2>
					<div class="inset-width">
					<pre><code class="html">
	    &lt;body role="application"&gt;
					</code></pre>
					</div>
					<div class="image-headline" id="owl">
						<h3>OH NO YOU DIDN&rsquo;T</h3>
					</div>
					<aside class="notes">
	 Only want to use role="application" if the content you're providing consists of only interactive controls, and of those, mostly advanced widgets, that emulate a real desktop application.
					</aside>
				</section>

				<section>
					<h2 class="h1-style">Focus Management</h2>
					<!-- aria-activedescendant ? -->
					<ul>
						<li>Dialogs</li>
						<li>Appending views</li>
						<li>Tab index</li>
					</ul>
				</section>
				
				<section>
					<a href="https://material.angularjs.org/#/material.components.dialog/readme/overview" target="_blank" title="Link opens in a new window"><img src="img/Angular-Material-Dialog.png" class="plain" alt="Angular Material Dialog"></a>
				</section>

				<section>
					<h2>Some Sweet AngularJS Code</h2>
					<pre><code class="javascript">

					</code></pre>
				</section>

				<section>
					<h2>Let's make it awesome.</h2>
					<a href="http://twitter.com/marcysutton" target="_blank" title="Link opens in a new window"><em>@marcysutton</em></a></p>
				</section>
			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>
		<script src="lib/js/randomImg.js"></script>
		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				// The "normal" size of the presentation, aspect ratio will be preserved
		    // when the presentation is scaled to fit different resolutions. Can be
		    // specified using percentage units.
		    width: 1440,
		    height: 900,

		    // Factor of the display size that should remain empty around the content
		    margin: 0.1,

		    // Bounds for smallest/largest possible scale to apply to content
		    minScale: 0.2,
		    maxScale: 1.0,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'fade', // default/cube/page/concave/zoom/linear/fade/none

				// Parallax scrolling
				// parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
				// parallaxBackgroundSize: '2100px 900px',

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/accessibility-helpers/accessibility-helpers.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'lib/js/slides.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});
		</script>
	</body>
</html>
